# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Djinn-specific
dataset.jsonl
*.jsonl

# Editor-specific
.vscode/
.idea/
*.swp
*.swo 

# Store the generated dataset elsewhere
problems/*
generated_problems/*
*.ipynb
stage_logs/*
notebooks/*


scripts/*
wandb/*
outputs/*

# Byu-specific
from_byu/*
scraps/*eval_difficulty_script.py
loss_diff.py
compute_loss_comparison.md
error_message.txt
model_benchmark_results_20250731_150618.csv
original_loss.py
.gitignore
patched_loss.py
uv.lock
model_benchmark_results_20250801_042506.csv
qwen3_chat_formatter.py


.reward_cache/